.container {
    background-image: url('download.png');
    background-repeat: no-repeat;
    width: 100%;
    background-color: hsl(216, 37%, 11%);
}

#spinner {
    display: none;
}

.button {
    background-color: orangered;
    color: white;
    height: 45px;
    width: 125px;
    padding: 5px;
    margin: 5px;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 1.5em;
}

.button:hover {
    background-color: lightgray;
    color: orangered;
}